<div class="container">
	<div class="screen">
		<div class="screen__content">
		
			<div class="social-login">
				<h3>Page your looking for no longer exists</h3>
				
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
			<p class="logo">404 NOT FOUND </p>
		</div>		
	</div>
</div>

