<div fxLayout="column" fxLayoutAlign="space-between center" >
    <div>
        <h2 style="text-align: center; margin-bottom: 20px; margin-top: 20px;">Update client</h2>
    
    
    <form  fxLayout="column" (ngSubmit) = "onSubmit()"  >
    
        <div class="form-group" fxFLex="50">
          <label for="formGroupExampleInput">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)] = "client.name" name = "name" placeholder="Name..">
        </div>
    
        <div class="form-group">
          <label for="formGroupExampleInput2">Last Name</label>
          <input type="text" class="form-control" id="lastName" [(ngModel)] = "client.lastName"  name="lastName" placeholder="Last name">
        </div>
    
        <div class="form-group">
            <label for="formGroupExampleInput2">Email</label>
            <input type="text" class="form-control" id="email" [(ngModel)] = "client.email"  name="email" placeholder="E-mail">
          </div>
    
          <div class="form-group">
            <label for="formGroupExampleInput2">Phone number</label>
            <input type="text" class="form-control" id="phoneNumber" [(ngModel)] = "client.phoneNumber"  name="phoneNumber" placeholder="Phone number">
          </div>
    
          <div class="form-group">
            <label for="formGroupExampleInput2">City</label>
            <input type="text" class="form-control" id="city" name="city" [(ngModel)] = "client.city"  placeholder="City">
          </div>
    
          <div class="form-group">
            <label for="formGroupExampleInput2">Street address</label>
            <input type="text" class="form-control" id="address" [(ngModel)] = "client.address"  name="address "placeholder="Street address">
          </div>
    
          <button type="submit" class="btn btn-primary" style="margin-top: 10px;background-color:  rgb(60, 206, 211); border: none;">Submit</button>
    
      </form>
    </div>
    </div>
    
