<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom" *ngIf="loginService.isUserLoggedIn()">
    <a href="/home" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
     <h2 style="color: rgb(60, 206, 211);">VetClinic <mat-icon>pets</mat-icon></h2>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/home" class="nav-link px-2 link-secondary">Home</a></li>
      <li><a href="/clients" class="nav-link px-2 link-dark">Clients</a></li>

      <li><a href="appointments" class="nav-link px-2 link-dark">Appointments</a></li>
      <li><a href="addappointments" class="nav-link px-2 link-dark">New appointment</a></li>
      <li><a href="addclients" class="nav-link px-2 link-dark">New client</a></li>

      
    </ul>

    <div class="col-md-3 text-end">
   
      <button id = "logoutb" type="button" class="btn btn-dark"><a *ngIf="loginService.isUserLoggedIn()" class="nav-link"  routerLink="/logout">Log out</a></button>
    </div>
  </header>
</div>

<router-outlet></router-outlet>
